$black-blue: #080e16ff;
$dark-blue1: #0f2d55ff;
$dark-blue2: #14478cff;
$light-blue1: #007ac8ff;
$light-blue2: #009bffff;
$light-blue3: #9dd2f3ff;
$sand1: #e8bf62ff;
$sand2: #ecd9aeff;
$rock1: #aa7657ff;
$rock2: #dea678ff;
$rock3: #f3c49fff;
$gray1: #f9f9f9ff;
$gray2: #f2f2f2ff;

$topnavbar-height: 80px;
$topnavbar-height-inv: calc(100% - 80px);


html,body{
  padding: 0;
  margin: 0;
  // overflow: hidden;
  scroll-behavior: smooth;
}

#head{
}
#topnavbar{
  background-color: $gray1;
  border-bottom: 2px solid $light-blue2;
  z-index: 3;
}
#sidenavbar{
  background-color: $gray2;
  border-right: 2px solid $sand2;
  z-index: 2;
}
#content{

}
