@import "master";

#head{
  background-color: $light-blue1;
  position: absolute;
  width: 100%;
  height: $topnavbar-height-inv;
  top: 0;
  left: 0;
}
#sidenavbar{
  width: $sidenavbar-width;
  height: $topnavbar-height-inv;
  position: absolute;
  left: 0;
  top: 100%;
  #closebutton{
    position: relative;
    left: $sidenavbar-width;
    height: 50px;
    width: 50px;
  }
}
#topnavbar{
  width: 100%;
  height: $topnavbar-height;
  position: absolute;
  top: $topnavbar-height-inv;
  left: 0;
}
