html, body {
  padding: 0;
  margin: 0; }

#head {
  position: absolute;
  width: 100%; }

#topnavbar {
  background-color: #f9f9f9ff; }

#sidenavbar {
  background-color: #fff;
  width: 250px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

}
