/* Color Pallete
$black-blue: #080e16ff;
$dark-blue1: #0f2d55ff;
$dark-blue2: #14478cff;
$light-blue1: #007ac8ff;
$light-blue2: #009bffff;
$light-blue3: #9dd2f3ff;
$sand1: #e8bf62ff;
$sand2: #ecd9aeff;
$rock1: #aa7657ff;
$rock2: #dea678ff;
$rock3: #f3c49fff;
$gray1: #f9f9f9ff;
$gray2: #f2f2f2ff;
*/

html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth; }

#head {
  /* background-color: #007ac8ff; */
  position: absolute;
  width: 100%;
  height: calc(100% - 80px);
  top: 0;
  left: 0; }
#carouseltitle, .carousel, .slide, .carousel-inner, .carousel-item{
  height: 100%;
}
.titleslide{
  margin-top: -200px;
}
.maintitle{
  top: calc(50% - 120px);
  left: calc(50% - 380px);
  z-index: 3;
  position: absolute;
  color: white;
  font-family:'Staatliches', cursive;
}
.maintitle_b{
  font-size: 7em;
  display: block;
  line-height: 0.5;
}
.maintitle_a{
  font-size: 3em;
  display: block;
}

/* Styles relating to the top navigation bar.*/
#topnavbar {
  display: inline-flex;
  background-color: #f9f9f9ff;
  border-bottom: 2px solid #009bffff;
  z-index: 4;
  width: 100%;
  height: 80px;
  position: absolute;
  top: calc(100% - 80px);
  left: 0;}
#logodiv{
  height: 100%;
  width: 420px;}
#topnavmenu{
  height: 100%;
  width: calc(100% - 420px);
  display: inline-flex;
  align-items: stretch;
  justify-content: space-around;}
#topnavmenu a{
  text-decoration: none;
  text-align: center;
  color: #0f2d55ff;
  display: block;
  padding: 0 60px;}
#topnavmenu a span{
  font-size: 20px;
  font-family:'Staatliches', cursive;
  height: 40%;
  margin-top: 26px;
  display: block;
  line-height: normal;}
#topnavmenu a:hover span{
  border-bottom: 2px solid #0f2d55ff;
  color: #0f2d55ff;}

/* Styles relating to the side navigation bar, entirely functional. DO NOT TOUCH.*/
/* Side navigation bar division, position is absolute (for now)*/
#sidenavbar {
  background-color: #f2f2f2ff;
  border-right: 2px solid #ecd9aeff;
  z-index: 2;
  width: 420px;
  height: calc(100% - 80px);
  position: absolute;
  left: -420px;
  top: 100%;
  transition: 0.4s}
/* Button to close and open using Font Awesome*/
#sidenavbar #closebutton {
  background-color: #f2f2f2ff;
  border-right: 2px solid #ecd9aeff;
  border-bottom: 2px solid #ecd9aeff;
  z-index: 3;
  position: relative;
  left: 420px;
  height: 50px;
  width: 50px;
  cursor: pointer;}
  .fa-caret-left{
    color: #14478cff;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 2em;}
  .fa-bars{
    color: #14478cff;
    margin-left: 11px;
    margin-top: 9px;
    font-size: 1.6em;}

/* List of <a> anchors to diferent parts of the website. (Scroll sugessted)*/
#sidenavmenu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;}
#sidenavmenu ul a{
  font-family: 'Railway', sans-serif;
  color: #14478cAA;
  text-decoration: none;
  display: block;
  width: 100%;}
#sidenavmenu ul a:hover{
  background-color: #00000010;
  color: #0f2d55ff;
  width: 100%;}
#sidenavmenu ul li{
  color: inherit;
  padding: 20px 0 20px 50px;}
  /* Content */
#content{
  position: absolute;
  top: 100%;
  height: 100%;
  width: 100%;
  background-color: Lavender;
}
#content /*Text*/{
  text-align: center;
  font-size: 2em;
  color: black;
  font-family: 'Railway', sans-serif;
  line-height: 0.5em;
}

/* Divs and "sub-divs" of the content */
#bienvenido-content{
}
#galeria-content{
}
#informacion-content{
}
/* Sub-divs of Informacion-content */
#tarifas-subcontent{
}
#comollegar-subcontent{
}
#actividades-subcontent
/* End of Informacion-content sub-divs */

#contacto-content{
}
